<!doctype html>
<!--[if lte IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !lte IE 9]><!--><html lang="en"><!--<![endif]-->
<head>
<title>Prof</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
<link href='http://fonts.googleapis.com/css?family=Oswald:300,700,400' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="css/normalize.css">
<link rel="stylesheet" type="text/css" href="css/foundation-grid.css">
<link rel="stylesheet" type="text/css" href="css/prof.css">
<!--<script src="js/jquery-1.11.0.min.js"></script>-->
<script src="js/angular.min.js"></script>
<!-- <script src="js/angular-route.min.js"></script> -->
<script src="js/prof.js"></script>
</head>

<body ng-app="prof" ng-controller="prof-controller">

<div class="the-prof">
  <div>
    <img class="still" src="img/still.jpg">
    <animator ng-model="answer" ng-repeat="s in sprites">
      <img ng-src="{{s.url}}">
    </animator>
  </div>
</div>

<form novalidate class="the-problem oswald" name="problem" ng-submit="submit(answer)">
  <p>
    <span ng-bind="number1"></span>
    <span ng-bind="operator1"></span>
    <span ng-bind="number2"></span>
    <span>=</span>
    <label
      class="prof-input"
      ng-class="{
      'error-border':!problem.$valid,
      'ok-border':problem.$valid && submitted,
      'disabled':animating }">
      <input class="animated" type="text" name="answer" ng-model="answer">
    </label>
  </p>
</form>

<div class="score oswald">
  <p>Right: <b ng-bind="score.right" class="ok"></b></p>
  <p>Wrong: <b ng-bind="score.wrong" class="error"></b></p>
</div>
<!-- <button style="margin-bottom:2em;" class="button" ng-click="generateQuestion()">press</button> -->

</body>
</html>